<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <title>Chatbot</title>
</head>
<body>
    <div class="info"></div>
    <nav>
        <ul>
            <li class="bot-ask"><a href="/"><img class="bot-ask" src="./img/robot.svg" width="75%" alt="robot"></a></li>
            <li class="bot-post"><a href="/post"><img class="bot-post" src="./img/upload.svg" width="100%" alt="textbox"></a></li>
        </ul>
    </nav>
    <h1>Askbot</h1>
    <div class="thinking"></div>
    <div class="chat-container"></div>
    <form class="questionForm" action="/" method="POST">
        <input type="text" placeholder="Enter your name" id="user">
        <select class="questions" name="questions" id="question">
            <option>Select the question you want to ask</option>
            <% data.map(item => { %>
                <option><%= item.question %></option>
            <% }) %>
        </select>
        <input type="submit" class="submit">
        <div style="color: white; font-weight: bold;"></div>
    </form>
    <script src="./modules/serverFront.js"></script>
    <script src="./modules/nav.js"></script>
</body>
</html>