body{
    background: black;
}
nav{
    position: fixed;
    top: 25%;
    right: 0%;
    height: 15%;
    width: 50px;
}
nav ul{
    height: 100%;
}
nav ul li{
    list-style-type: none;
    width: 100%;
    cursor: pointer;
}
nav ul li.bot-ask{
    background: orange;
    position: absolute;
    top: 0%;
    left: 0px;
    cursor: pointer;
    height: 70%;
}
nav ul li.bot-ask img{
    position: relative;
    top: 15%;
    left: 13%;
    cursor: pointer;
}
nav ul li.bot-post{
    background: darkblue;
    position: absolute;
    top: 70%;
    left: 0px;
    height: 30%
}
nav ul li.bot-post img{
    position: relative;
    top: 10%;
    cursor: pointer;
    width: 90%;
    left: 5%;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
h1{
    color: white;
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 8vw;
}
.chat-container{
    background: white;
    width: 98%;
    height: 50%;
    margin: 0 auto;
}
.chat-container .message{
    color: darkblue;
}
form{
    margin-top: 5%;
    width: 98%;
    margin: 0 auto;
}
form input{
    width: 100%;
    height: 3%;
    margin-top: 1%;
    border: none;
    font-weight: bold;
    color: darkblue;
}
form .submit{
    color: black;
    border: 1px solid white;
    background: white;
}
.typing{
    font-size: 100%;
    position: relative;
    background: white;
    width: 98%;
    margin: 1% auto;
    color: darkblue;
}